<footer>
  <h1>Copyright 2022 Matthew Lyons</h1>
</footer>

<script type="text/javascript">
  document.getElementById('plus-button').addEventListener('click', () => {

    var dropdown = document.getElementById('dropdown');
    dropdown.classList.add('show');
  })
</script>


</html>
